body { 
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   user-select: none;
}

.restart{
  position: absolute;
  min-width: 15%;
  aspect-ratio: 1 / 1;
  top: 1%;
  right:5%;
  z-index: 7;
}
.ticket-wrapper {
  margin-top:35px;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.ticket-container {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 30px 20px 65px 20px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.ticket-container::before,
.ticket-container::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  border-radius: 50%;
  top: 49.13%;
  transform: translateY(-50%);
  z-index: 2;
}

.ticket-container::before {
  left: -15px;
}

.ticket-container::after {
  right: -15px;
}

.top-cutout {
  position: absolute;
  top: -57px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 50%;
  z-index: 1;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: -46px;
  left: calc(50% - 30px);
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}

.header {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 40px;
  margin-bottom: 10px;
}

.thin-line {
  width: 40%;
  background-color: #ccc;
  height: 1px; 
  margin: 30px auto 40px auto;
}

.purchase-info {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.ticket-info {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin: 10px auto 15px auto;
}

#ticket-number {
  color: #000;
  font-weight: bold;
}

.timer-container {
  margin: 15px auto 30px auto;
  padding: 12px 18px;
  background: linear-gradient(135deg, #e1f2e7, #e0f0fc);
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  position: relative;
  text-align: left;
}

#timerCircle {
      transform: rotate(-90deg); /* Adjusts the starting position of the stroke */
      width: 14px;
      height: 14px;
      margin-right:10px;
}

.timer {
  font-size: 16px;
  color: #000;
  display: inline-block;
  margin-left: 30px;
}

.dotted-line {
    width: 95%;
    height: 1px;
    background-image: -webkit-gradient(linear,left top,right top,from(#CCC),color-stop(50%,#CCC),color-stop(50%,transparent),to(transparent));
    background-image: -webkit-linear-gradient(left,#CCC,#CCC 50%,transparent 50%,transparent 100%);
    background-image: linear-gradient(90deg,#CCC,#CCC 50%,transparent 50%,transparent 100%);
    background-size: 20px 1px;
}

.qr-code {
  width: 230px;
  height: 230px;
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  z-index: 2;
  border-radius: 20px;
pointer-events: none;
box-shadow: 0 0 15px 10px rgba(238, 238, 238);
}


.footer {
  color: #999;
  font-size: 14px;
  margin-top: auto;
  position: relative;
  z-index: 2;
	margin-top: 30px; /* Додано для опускання футера */
}

#waveCanvas {
  position: absolute;
  top: 680px; /* Начинаем от верхней части контейнера */
  left: 0;
  z-index: 3; /* Волна будет поверх контейнера билета */
  pointer-events: none; /* Отключаем взаимодействие с canvas, чтобы не мешать кликам по другим элементам */
  width: 100%; /* Сделаем ширину равной ширине контейнера */
  height: 55px;
}

.reopen-message {
  position: absolute;
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;  
  width: 100%;
  box-sizing: border-box;
  user-select:none;
  top:785px;
}




@media (max-width: 600px) {
  .ticket-wrapper {
    max-width: 100%;
  }

  .ticket-container {
    padding: 20px 15px 65px 15px;
    max-width: 100%;
    box-sizing: border-box;
	pointer-events: none;
  }

  .logo {
    width: 60px;
    height: 60px;
    top: -46px;
    transform: translateX(-50%);
    left: 50%;
	pointer-events: none;
  }

  .header {
    font-size: 18px;
  }

   .ticket-info {
    font-size: 40px;
  }

  .purchase-info,
  .footer {
    font-size: 14px;
  }

  .timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 260px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(135deg, #e1f2e7, #e0f0fc);
  border-radius: 30px;
}
#waveCanvas {
    position: absolute;
  top: 680px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    pointer-events: none;
  }

  .timer {
    font-size: 16px;
    margin-left: 0;
  }

  .reopen-message {
    font-size: 13px;
    z-index: 1;
  }
}
































